{{ define "content" }}
    {{if .IsList}}
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Img</th>
                      <th>Tags</th>
                    </tr>
                  </thead>
                  <tbody>
              {{range .Navbar}}
                    <tr>
                      <td><a href="{{$.HttpFQDN}}/{{$.EUrl}}/{{.DopLink}}">{{.Title}}</a></td>
                      <td>{{if .Photo}}<img src="{{$.HttpFQDN}}/photos/{{.Thumb}}" alt="Photo">{{end}}</td>
                      <td>
                      {{range .Tags}}
                        {{ $css := index $.CssLookup . }}
                        <span class="label label-{{if $css}}{{$css}}{{else}}info{{end}}">{{.}}</span>
                      {{end}}
                      </td>
                    </tr>
              {{end}}
                  </tbody>
                </table>
              </div>
    {{else}}
        {{with index .Content 0}}
            <div class="pn-controls">
            <nav>
              <ul class="pager">
                <li{{if $.PrevId}}{{else}} class="disabled"{{end}}><a href="{{if $.PrevId}}{{$.HttpFQDN}}/{{$.EUrl}}/{{$.PrevId}}{{else}}#{{end}}"><span aria-hidden="true">&larr;</span></a></li>
                <li{{if $.NextId}}{{else}} class="disabled"{{end}}><a href="{{if $.NextId}}{{$.HttpFQDN}}/{{$.EUrl}}/{{$.NextId}}{{else}}#{{end}}"><span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
            </div>
            <h4>{{range .Tags}}{{ $css := index $.CssLookup . }}<span class="label label-{{if $css}}{{$css}}{{else}}info{{end}}">{{.}}</span> {{end}}</h4>
            {{if .Photo}}<img src="{{$.HttpFQDN}}/photos/{{.Small}}" alt="Photo">{{end}}
            {{.EntryMD}}
            <div class="pn-controls">
            <nav>
              <ul class="pager">
                <li{{if $.PrevId}}{{else}} class="disabled"{{end}}><a href="{{if $.PrevId}}{{$.HttpFQDN}}/{{$.EUrl}}/{{$.PrevId}}{{else}}#{{end}}"><span aria-hidden="true">&larr;</span></a></li>
                <li{{if $.NextId}}{{else}} class="disabled"{{end}}><a href="{{if $.NextId}}{{$.HttpFQDN}}/{{$.EUrl}}/{{$.NextId}}{{else}}#{{end}}"><span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
            </div>
        {{end}}
    {{end}}
{{ end }}
