{{ define "customjs" }}
    {{if .PrevId}}
        <script type="text/javascript">
        $(document).ready(function()
        {
            $("body").keydown(function(e) {
                if(e.target.nodeName.toLowerCase() == 'input'){
                    return;
                }
                if(e.keyCode == 37) { // left
                    window.location = '{{$.HttpFQDN}}/{{$.EUrl}}/{{.PrevId}}'
                }
            });
        });
        </script>
    {{end}}
    {{if .NextId}}
        <script type="text/javascript">
        $(document).ready(function()
        {
            $("body").keydown(function(e) {
                if(e.target.nodeName.toLowerCase() == 'input'){
                    return;
                }

                if(e.keyCode == 39) { // right
                    window.location = '{{$.HttpFQDN}}/{{$.EUrl}}/{{.NextId}}'
                }
            });
        });
        </script>
    {{end}}
    <script type="text/javascript">
    $('#navsearch').submit(function(e){
        e.preventDefault();
        window.location = '{{.HttpFQDN}}/s/'+$(this).serialize();
    });

    $(document).ready(function()
    {
        $("body").keyup(function(e) {
            if (e.keyCode == 27) { // esc
                window.location = '{{$.HttpFQDN}}/'
            }
        });
    });
    </script>
{{ end }}