{{ define "content" }}
    {{if .IsList}}
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Day</th>
                      <th>Great Bowel Evac?</th>
                      <th>Bowel Movements</th>
                      <th>Tags</th>
                    </tr>
                  </thead>
                  <tbody>
              {{range .Navbar}}
                    <tr>
                      <td><a href="/e/{{.Id}}">{{.Title}}</a></td>
                  {{if .Starred}}
                      <td><span class="label label-success">YES!</span></td>
                  {{else}}
                      <td><span class="label label-warning">no</span></td>
                  {{end}}
                      <td>{{.Count}}</td>
                      <td>{{.Tags}}</td>
                    </tr>
              {{end}}
                  </tbody>
                </table>
              </div>
    {{else}}
        {{with index .Content 0}}
            <h4>Great Bowel Evacuation? <small>{{.Starred}}</small></h5>
            <h4>Bowel Movements: <small>{{.Count}}</small></h5>
            <h4>Tags: <small>{{.Tags}}</small></h5>
            <div class="pn-controls">
            <nav>
              <ul class="pager">
                <li{{if $.PrevId}}{{else}} class="disabled"{{end}}><a href="{{if $.PrevId}}/e/{{$.PrevId}}{{else}}#{{end}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li{{if $.NextId}}{{else}} class="disabled"{{end}}><a href="{{if $.NextId}}/e/{{$.NextId}}{{else}}#{{end}}">Next <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
            </div>
            {{.EntryMD}}
            <div class="pn-controls">
            <nav>
              <ul class="pager">
                <li{{if $.PrevId}}{{else}} class="disabled"{{end}}><a href="{{if $.PrevId}}/e/{{$.PrevId}}{{else}}#{{end}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li{{if $.NextId}}{{else}} class="disabled"{{end}}><a href="{{if $.NextId}}/e/{{$.NextId}}{{else}}#{{end}}">Next <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            </nav>
            </div>
        {{end}}
    {{end}}
{{ end }}
